header {
  /* background-image: linear-gradient(to right bottom, #234567f1, #2345679c); */
  padding: 0.8rem;
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  border-top: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
}

header .logo {
  width: 3rem;
  margin-inline-end: 1rem;
}

header h1 {
  font-size: 3rem;
  color: #fff;
  font-family: cursive;
}
